@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  box-sizing: inherit;
}

body {
  background-color: rgb(235, 240, 243);
}

.container {
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #556080;
}

.avatar-container {
  border: 15px solid rgb(222, 233, 239);
  box-shadow: -8px 8px 10px rgb(166, 169, 171);
  border-radius: 50%;
  position: absolute;
  top: 90px;
  display:flex;
}

img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: -8px 8px 10px rgb(166, 169, 171);
}

